.App {
    text-align: center;
  }
  
  .main-app-container .list-group-item {
    display: flex;
  }
  
  .list-group-item .form-check {
    width: 90%;
  }
  
  .list-group-item-actions {
    width: 10%;
    text-align: right;
    min-width: 60px;
  }
  
  .main-app-container .list-group-item:hover .list-group-item-actions span {
    display: inline;
    cursor: pointer;
  }
  